@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #DED85F, #918D37);
}

main {
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 15px #fde3a780;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #893091;
    text-align: center;
    text-shadow: 1px 1px 2px #8930919c;
}

h2 {
    color: #61225E ;
}

p {
    text-align: justify;
}